
<div class="table-users" *ngIf="userList.length>0" >

    
    <table cellspacing="0">
       <tr>
          <th>Picture</th>
          <th >Name</th>
          <th >Email</th>
          <th >Phone</th>
          <th >Edit</th>
          <th >Delete</th>
          <!-- <th width="230">Name</th>
          <th width="230">Email</th>
          <th width="230">Phone</th>
          <th width="150">Edit</th>
          <th width="60">Delete</th> -->
       </tr>
 
       <tr  *ngFor="let list of userList; let rindex=index" >
          <td (click)="go2Profile(list,rindex)" style= "cursor:pointer ;"><img [src]="list.imageUrl"  /></td>
          <td (click)="go2Profile(list,rindex)" style= "cursor:pointer ;">{{list.firstname}} {{list.lastname}}</td>
          <td (click)="go2Profile(list,rindex)" style= "cursor:pointer ;">{{list.email}}</td>
          <td (click)="go2Profile(list,rindex)" style= "cursor:pointer ;">{{list.mobile}}</td>
          <td (click)="edtiUSer(rindex,list)" style= "cursor:pointer ;"><mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon></td>
          <td (click)="deleteUser(rindex,list)" style= "cursor:pointer ;"><mat-icon [svgIcon]="'heroicons_outline:trash'" ></mat-icon></td>
       </tr> 
    </table>
   
 </div>
 <div  *ngIf="userList.length==0">

   <!-- <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"><mat-icon svgIcon="heroicons_solid:users" ></mat-icon> There are no user!</div> -->
   <div class="flex flex-auto flex-col items-center justify-center h-full">
      <mat-icon
          class="icon-size-24"
          [svgIcon]="'iconsmind:administrator'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no user!</div>
  </div>
</div>

 