<!-- <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"> -->
  
<div class="table-users" *ngIf="userList.length>0">
    <!-- <div class="header"></div> -->
    
    <table cellspacing="0">
       <tr>
          <th>Picture</th>
          <th width="230">Name</th>
          <th width="230">Email</th>
          <th width="230">Phone</th>
          <th width="150">Edit</th>
          <th width="60">Delete</th>
       </tr>
 
       <tr  *ngFor="let list of userList; let rindex=index">
          <td><img [src]="list.imageUrl"  /></td>
          <td>{{list.firstname}} {{list.lastname}}</td>
          <td>{{list.email}}</td>
          <td>{{list.mobile}}</td>
          <td (click)="edtiUSer(rindex,list)"><mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon></td>
          <td (click)="deleteUser(rindex,list)"><mat-icon [svgIcon]="'heroicons_outline:trash'" ></mat-icon></td>
       </tr>
 
     
       
    </table>
 </div>
 <div  *ngIf="userList.length==0">
   <!-- <mat-icon svgIcon="heroicons_solid:users" ></mat-icon> -->
    <span style="font-size: 60px; margin-left: 320px;">No User List</span>
 </div>
<!-- </div> -->